*.exe
*.exp
*.ilk
*.pdb
*.lib
*.dll
*.o
bin
assets
build.json
.nev-session
.nev
.vs
.vscode
.git2
build
sdl.docs.c
tags
deps/_nimbles
nimcache
nimcacheic
SDL3
stdtags
lldb_nim.py
imgui.ini
atlas.cache.json
#vendor
vendor/SDL3
vendor/SDL_Mixer2
vendor/harfbuzzy
vendor/nimfreetype
temp
# deps
savegames
src/grayscale.frag.hlsl
nimony_compiler_bugs/
nimony_compiler_bugs/
.gitignore
nimony_compat.md
nimony_compiler_bugs.md
ui_bench_new.txt
ui_bench_old.txt
ui_refactor.md
ui_rewrite.md
*.dxil
deps/pixie
vendor/accesskit-c-0.22.3
vendor2
scratch
fs-demo
