############# begin Atlas config section ##########
--noNimblePath
--path:"deps/sdl3/src"
--path:"vendor/nimfreetype"
--path:"vendor/harfbuzzy/src"
############# end Atlas config section   ##########
